.jumbotron
{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

footer
{
    padding: 10px 10px 0px 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-prod
{
    flex: 1 250px;
    margin-top: 10px;
}
.btn-prod
{
    width: 100%;
    
}

.footer-icon
{
    padding-right: 10px;
}
.img-cards
{
    display: block;
    margin: auto;
    border-radius: 2em;
    width: 200px;
    height: 200px;
}
.carrusel
{
    margin: auto;
    padding: 0px 40px 0px 40px;
}
.carrusel img
{
    height: 500px;
}