.jumbotron {
  background-color: #fffa19;
  color: #1f1e1b;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-prod {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-prod {
  width: 100%;
}
.footer-icon {
  padding-right: 10px;
}
.img-cards {
  display: block;
  margin: auto;
  border-radius: 2em;
  width: 200px;
  height: 200px;
}
.carrusel {
  margin: auto;
  padding: 0px 40px 0px 40px;
}
.carrusel img {
  height: 500px;
}
