@yellow:  #fffa19;
@black: #1f1e1b;

.margenes (@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron
{
    background-color: @yellow;
    color: @black;
    .margenes(50px, 0px);
}

footer
{
    padding: 10px 10px 0px 10px;
    background-color: @yellow;
    .margenes(10px, 0px);
}

.card-prod
{
    flex: 1 250px;
    .margenes(10px, 0px);
}
.btn-prod
{
    width: 100%;
    
}

.footer-icon
{
    padding-right: 10px;
}
.img-cards
{
    display: block;
    margin: auto;
    border-radius: 2em;
    width: 200px;
    height: 200px;
}
.carrusel
{
    margin: auto;
    padding: 0px 40px 0px 40px;
}
.carrusel img
{
    height: 500px;
}